page-slider {
	ion-scroll { white-space: nowrap; }
	ion-app [padding] .scroll-content{padding:0;}
	.scroll-content{padding:0 !important;}
	.slide-zoom{height:100%;}


	img{
		max-width: auto;
	}
	.swiper-slide img{
		width: inherit;
		max-width: none;
		height: auto;
		max-height: none;
	}
}
